---
type IconId = "arrow-top-right";

interface Props extends astroHTML.JSX.SVGAttributes {
  id: IconId;
}

const { id, ...props } = Astro.props;
---

<svg {...props}>
  <title>{id}</title>
  <use href={`/icons.svg#${id}`}></use>
</svg>
