---
interface Props {
  value: number;
  max?: number;
}

const { value, max = 5 } = Astro.props;
---

<div class="rating" style={`--rating:${value}; --max:${max}`}></div>

<style is:global>
  .rating {
    --size: 16px;
    width: calc(var(--max) * var(--size));
    height: var(--size);
    background: var(--color-gray-300);
    position: relative;
    mask: url("/assets/star-filled.svg") repeat-x left center / var(--size)
      var(--size);
  }

  .rating::after {
    content: "";
    position: absolute;
    inset: 0;
    width: calc(var(--rating) / var(--max) * 100%);
    background: var(--color-yellow-400);
  }
</style>
