---
import Poster from "@/components/Poster.astro";
import Rating from "@/components/Rating.astro";
import type { WatchedItemProps } from "@/schemas";

interface Props extends WatchedItemProps {}

const { posterUrl, title, mediaType, watchedAt, rating } = Astro.props;
---

<div class="relative flex items-center gap-4">
  <Poster src={posterUrl} alt={title} width="64px" height="64px" />
  <div class="min-w-0 flex-1 space-y-3">
    <div class="truncate text-base font-semibold">{title}</div>
    <div class="text-muted-foreground flex items-center gap-3 truncate text-xs">
      <div class="bg-muted rounded px-1 py-0.5">
        {mediaType === "Movie" ? "电影" : "电视剧"}
      </div>
      <span>{watchedAt} 看过</span>
      <Rating value={rating / 2 || 0} />
    </div>
  </div>
</div>
